name: Sechdule job

on:
  schedule:
    - cron: "0 0 * * *"

jobs: 
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Print message
        run: echo "Sechdule workflow executed"
       
  
